body {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(166, 197, 185);
}

header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
}

nav{
    margin-left:auto;
}

.blue_sq{
    outline: none;
    border: none;
    box-shadow: 2px 2px 4px rgb(112, 109, 109);
    margin-right: 7px;
    font-weight: bold;
    margin-top: 10px;
    width: 80px;
    height: 25px;
    text-align: center;
    font-size: 10px;
    background-color: rgb(143, 186, 200);
    display: inline-block;
    color: rgb(91, 88, 141);
}

footer{
    height: 50px;
    background-color: white;
}

.foot{
    color: rgb(25, 78, 60);
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
}

.content{
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}